.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin:auto;
}
.example-full-width {
  width: 100%;
}
.blue-bg{
  background-color:cadetblue;
  margin:10px;
}
.example-h2 {
  margin: 10px;
  text-align:center;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}

.mat-slider-horizontal {
  width: 300px;
}

.mat-slider-vertical {
  height: 300px;
}
