<section class="container">
<a [href] = "url">Moteurs de recherche</a>

<p [attr.contenteditable]="isAdmin">EDITEZ MOI !</p>
<p [class]="(isAdmin) ? 'teal-text' : 'blue-bg'">Ce texte est en bleu</p>
<button mat-button class="blue-bg" (click)="changeAdmin()">switch Admin</button>

<p [ngClass]="classesCss">Utilisation de ngClass</p>

  <p *ngIf="isAdmin; else publicContent">Contenu confidentiel</p>
  <ng-template #publicContent>
    <p>Contenu public</p>
  </ng-template>

    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group">
      <mat-radio-button
        *ngFor="let product of products, index as i"
        [value]="product.name"
        class="example-radio-button"
      (change)="chooseProduct(product)">
        {{product.name}} - ({{getAverage(i)}})
      </mat-radio-button>
    </mat-radio-group>
  <app-product-show [product]="choosedProduct" (note)="onVoted($event)"></app-product-show>
</section>
