section {
  display: flex;
}
section > div:first-of-type {
  height: calc(100vh - 146px) !important;
  overflow: auto;
  width: 100%;
}
section mat-grid-list {
  flex: 2;
}
section app-product-show {
  flex: 1;
  min-width: 250px;
  padding: 1rem;
}
section mat-card {
  margin: 0.75rem;
  width: 100%;
}
mat-card-header{
  justify-content: space-between;
}
.mat-card-sm-image {
  height: 70px;
  width: 70px;
  margin:20px;
  border-radius: 50%;
  flex-shrink: 0;
}
.blue-bg{
  background-color:cadetblue;
  margin:10px;
}