<section class="container">
  <div>
    <mat-grid-list cols="2">
      <mat-grid-tile
        *ngFor="let product of products; index as i"
      >
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>Note : {{getAverage(i)}}</mat-card-subtitle>
            <img mat-card-sm-image src="assets/img/{{product.imageName}}" alt="Photo of {{product.name}}">
          </mat-card-header>
          <mat-card-content>
            <p>{{product.description}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button class="blue-bg"
                    (click)="choosedProduct = product"
            >Voter</button>
            <button mat-raised-button class="blue-bg">share</button>
            <button mat-raised-button color="primary" routerLink="/produits/{{product.slug}}">Détail</button>
            <button mat-raised-button color="accent" routerLink="/produits/edit/{{product.slug}}">Modifier</button>
            <button mat-raised-button color="warn" (click)="deleteProduct(product)">Supprimer</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <app-product-show
    [product]="choosedProduct"
    (note)="onVoted($event)"
  ></app-product-show>
</section>
