<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/produits">Les produits</a>
      <a mat-list-item routerLink="/produits/creation">Creer un produit</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-nav-list>
        <a mat-list-item routerLink="/">Home</a>
        <a mat-list-item routerLink="/produits">Les produits</a>
        <a mat-list-item routerLink="/produits/creation">Creer un produit</a>
        <button mat-button [matMenuTriggerFor]="menu">Detail des produits</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/produits/hamac">Hamac</button>
          <button mat-menu-item routerLink="/produits/parasol">Parasol</button>
          <button mat-menu-item routerLink="/produits/ballon-de-volley">Ballon de volley</button>
        </mat-menu>
      </mat-nav-list>

    </mat-toolbar>
    <section class="container">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
