<section class="container">
  <h1>Homepage</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto commodi consectetur, culpa deleniti deserunt ducimus eaque eum exercitationem fugiat itaque quam quo quod rem repellat sapiente sint unde ut.</p>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <a [href] = "url">Moteurs de recherche</a>

  <p [attr.contenteditable]="isAdmin">EDITEZ MOI !</p>
  <p [class]="(isAdmin) ? 'teal-text' : 'blue-bg'">Ce texte est en bleu</p>
  <button mat-button class="blue-bg" (click)="changeAdmin()">switch Admin</button>

  <p [ngClass]="classesCss">Utilisation de ngClass</p>

  <p *ngIf="isAdmin; else publicContent">Contenu confidentiel</p>
  <ng-template #publicContent>
    <p>Contenu public</p>
  </ng-template>
</section>
